@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
  margin: 0;
}

.hero {
  height: 100vh;
  background-image: url(./vecteezy_modern-living-room-decor-featuring-a-bright-yellow-armchair_46562766.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(143, 142, 137, 0.795);
}

nav button {
  border: none;
  background: transparent;
}

.menu {
  display: flex;
  gap: 10px;
  align-items: center;
}

#menu-button {
  cursor: pointer;
  margin-right: 40px;
}



#logo1 {
  color: rgb(255, 208, 0);
  padding-left: 60px;
  font-family: fantasy;
  font-size: 35px;
}
#span1 {
  color: whitesmoke;
}
#span2 {
  color: rgb(255, 208, 0);
}


.dropdown {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: rgba(150, 149, 145, 0.623);
  color: white;
  z-index: 10;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  display: none;
}

.open {
  display: flex;
}

.close i{
position: absolute;
top: 20px;
right: 20px;
color: whitesmoke;
}

.dropdown button{
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
color: whitesmoke;
}

.main {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.box {
  display: flex;
  height: 90px;
  width: 50%;
  background-color: rgba(150, 149, 145, 0.623);
  border-radius: 8px;
  justify-content: space-around;
}

.main p {
  color: whitesmoke;
  /* font-family: "Times New Roman", Times, serif;
  font-weight: bolder; */
  font-family: Modern Antiqua;
  font-weight: 800;
}
.main h1 {
  font-size: 60px;
  color: rgb(206, 201, 192);
  font-family: Jersey;
  font-weight: 900;
}

#product1 {
  color: whitesmoke;
}

#product2 {
  padding: 10px;
  padding-top: 15px;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}

.product {
  margin-top: 20px;

  height: 50px;
}
#button {
  height: 40px;
  margin-top: 25px;
  padding: 0px 20px;
  background-color: rgb(255, 208, 0);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.box {
  border-bottom: 2px solid rgb(255, 208, 0);
  border-right: 2px solid rgb(255, 208, 0);
}

.box input {
  border: 2px solid rgb(255, 208, 0);
}

.signup{
display: flex;
justify-content: center;
margin-top: 30px;
}
.signup h3{
  color:  white;
}
.signup button{
  background: transparent;
  color:  rgb(255, 208, 0);
  border: none;
  cursor: pointer;
  font-size: larger;
}


.hero2 {
  height: 50vh;
  background-image: linear-gradient(white,  rgb(255, 208, 0));
}

.main2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.ourstory {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.main2 p {
  color: rgb(255, 174, 0);
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
#grey {
  color: grey;
}
.span3 {
  color: black;
  font-weight: bolder;
}

.main2 img {
  border-radius: 300px;
}

.hero3 {
  height: 80vh;
  background-image: url(./chair.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
}
.main3 {
  border-top: 15px solid  rgb(255, 208, 0);
  border-radius: 15px 50px;
  height: 250px;
  width: 30%;
  margin-right: 30px;
  background-color: #ffffff;
  opacity: 0.7;
}
.main3 {
  transform: rotate(30degs);
}

.date {
  display: flex;
  margin: 5%;
  font-weight: bold;
  color: #000000;
  opacity: 1;
  align-items: center;
  justify-content: center;
}

.hero4 {
  height: 100vh;
}
.main4 {
  border: 2px solid black;
  width: 40%;
}
